# System Shell Context files
.bashrc
.bash_profile
.profile
.gitconfig
.zshrc

# Local Configurations & Secrets
.env
.env.production
.env.local

# IDE environments
.idea/
.vscode/
*.code-workspace
node_modules
